<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>AdminPanel</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
</head>
<body>
<div class="container-fluid " style="padding: unset; margin: unset">
<!--    Head site-->
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand font-weight-bold" sec:authentication="name">Current User Name</a>
        <a class="navbar-brand">with roles:</a>
        <a class="navbar-brand" th:each="role: ${#authentication.authorities}"
           th:text="${role.authority}">Current User Roles</a>
        <a th:href="@{/logout}" class="navbar-text ml-auto">Logout</a>
    </nav>
    <!--    Main container-->
    <div class="row container-fluid" style="padding: unset; margin: unset; height: 100vh">
        <!--        Left side. Navigation Admin, User button-->
        <div class="col-2" style="padding: unset">
            <div class="nav flex-column nav-pills" aria-orientation="vertical" style="margin-top: 10px">
                <a th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}" class="nav-link active"
                   id="v-pills-admin-tab" data-toggle="pill" href="#v-pills-admin">Admin</a>
                <a th:if="${#authorization.expression('hasAuthority(''USER'')')}"
                   th:class="'nav-link' + ${#authorization.expression('hasAuthority(''ADMIN'')') ? ' ' : ' active'}"
                   id="v-pills-user-tab" data-toggle="pill" href="#v-pills-user">User</a>
            </div>
        </div>
        <!--        Right side. Tables admin and user-info-->
        <div class="col-10" style="padding: unset; background-color: #fafafa">
            <div class="tab-content" style="margin: 20px">
                <!--                Admin panel-->
                <div th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}" class="tab-pane fade show active"
                     id="v-pills-admin" aria-labelledby="v-pills-admin-tab">
                    <h1>Admin Panel</h1>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#usersTable" data-toggle="tab">User table</a>
                        </li>
                        <li>
                            <a class="nav-link" href="#newUser" data-toggle="tab">New User</a>
                        </li>
                    </ul>
                    <!--                    Table all users-->
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="usersTable">
                            <div class="card">
                                <div class="card-header font-weight-bold" style="font-size: 20px">All users</div>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Roles</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr th:each="user : ${userList}">
                                        <td th:text="${user.id}">ID</td>
                                        <td th:text="${user.firstName}">FirstName</td>
                                        <td th:text="${user.lastName}">LastName</td>
                                        <td th:text="${user.age}">Age</td>
                                        <td th:text="${user.username}">Email</td>
                                        <td>
                                            <a th:each="role : ${user.roles}" th:text="' ' + ${role.roleName} + ' '">Roles</a>
                                        </td>
                                        <td>
                                            <button class="btn btn-primary" data-toggle="modal"
                                                    th:href="'#modall' + ${user.id}">Edit
                                            </button>
                                            <!--                                            Edit modal form-->
                                            <div class="modal fade" th:id="'modall' + ${user.id}" tabindex="-1">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title font-weight-bold">Edit user</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="form-horizontal text-center mx-auto font-weight-bold"
                                                                 style="width: 250px">
                                                                <form class="form-edit-user"
                                                                      th:action="@{admin/edit}" th:method="post">
                                                                    <div class="form-group">
                                                                        <label class="control-label">ID</label>
                                                                        <input type="text" class="form-control"
                                                                               readonly
                                                                               th:value="${user.id}" th:name="id"/>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="control-label">First name</label>
                                                                        <input type="text" class="form-control"
                                                                               th:value="${user.firstName}"
                                                                               th:name="firstName"/>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="control-label">Last name</label>
                                                                        <input type="text" class="form-control"
                                                                               th:value="${user.lastName}"
                                                                               th:name="lastName"/>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="control-label">Age</label>
                                                                        <input type="number" class="form-control"
                                                                               th:value="${user.age}"
                                                                               th:name="age"/>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="control-label">Email</label>
                                                                        <input type="email" class="form-control"
                                                                               th:value="${user.username}"
                                                                               th:name="username"/>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="control-label">Password</label>
                                                                        <input type="password" class="form-control"
                                                                               th:name="password"/>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="control-label">Role</label>
                                                                        <select class="form-control"
                                                                                style="height: 60px"
                                                                                th:name="roles" multiple="multiple">
                                                                            <option th:each="role : ${allRoles}"
                                                                                    th:text="${role.roleName}"
                                                                                    th:value="${role}"
                                                                                    th:selected="${user.getRoles().contains(role)}">
                                                                                RoleName
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary"
                                                                                data-dismiss="modal">Close
                                                                        </button>
                                                                        <input type="submit" class="btn btn-primary"
                                                                               value="Edit"/>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <button class="btn btn-danger" data-toggle="modal"
                                                    th:href="'#modallDelite' + ${user.id}">Delete
                                            </button>
                                            <!--                                           Delete modal form-->
                                            <div class="modal fade" th:id="'modallDelite' + ${user.id}" tabindex="-1"
                                                 aria-labelledby="deleteUserModalLabel">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title font-weight-bold">Delete user</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="form-horizontal text-center mx-auto font-weight-bold"
                                                                 style="width: 250px">
                                                                <form class="form-edit-user"
                                                                      th:action="@{admin/delete}" th:method="post">
                                                                    <div class="form-group">
                                                                        <label class="control-label">ID</label>
                                                                        <input type="text" class="form-control" readonly
                                                                               th:value="${user.id}" th:name="id"/>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="control-label">First name</label>
                                                                        <input type="text" class="form-control" readonly
                                                                               th:value="${user.firstName}"/>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="control-label">Last name</label>
                                                                        <input type="text" class="form-control" readonly
                                                                               th:value="${user.lastName}"/>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="control-label">Age</label>
                                                                        <input type="number" class="form-control"
                                                                               readonly th:value="${user.age}"/>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="control-label">Email</label>
                                                                        <input type="email" class="form-control"
                                                                               readonly th:value="${user.username}"/>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="control-label">Password</label>
                                                                        <input type="password" class="form-control"
                                                                               readonly/>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="control-label">Role</label>
                                                                        <select class="form-control"
                                                                                style="height: 60px" readonly
                                                                                multiple="multiple">
                                                                            <option th:each="role : ${allRoles}"
                                                                                    th:text="${role.roleName}"
                                                                                    th:value="${role}"
                                                                                    th:selected="${user.getRoles().contains(role)}">
                                                                                RoleName
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary"
                                                                                data-dismiss="modal">Close
                                                                        </button>
                                                                        <input type="submit" class="btn btn-danger"
                                                                               value="Delete"/>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--                        Table new user-->
                        <div class="tab-pane show fade" id="newUser">
                            <div class="card">
                                <div class="card-header font-weight-bold" style="font-size: 20px">Add new user</div>
                                <form th:object="${addUser}" th:action="@{/admin/add}" method="post"
                                      class="form-horizontal text-center mx-auto font-weight-bold"
                                      style="width: 350px; padding: 20px">
                                    <div class="form-group">
                                        <label>First name</label>
                                        <input type="text" class="form-control" th:field="*{firstName}"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Last name</label>
                                        <input type="text" class="form-control" th:field="*{lastName}"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Age</label>
                                        <input type="number" class="form-control" th:field="*{age}"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="email" class="form-control" th:field="*{username}"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" class="form-control" th:field="*{password}">
                                    </div>
                                    <div class="form-group">
                                        <label>Role</label>
                                        <select class="form-control" th:field="*{roles}"
                                                multiple="multiple"
                                                style="height: 60px">
                                            <option th:each="role : ${allRoles}"
                                                    th:text="${role}"
                                                    th:value="${role}">RoleName
                                            </option>
                                        </select>
                                    </div>
                                    <input class="btn btn-success" type="submit" value="Add new user">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--              User panel-->
                <div th:if="${#authorization.expression('hasAuthority(''USER'')')}"
                     th:class="'tab-pane fade' + ${#authorization.expression('hasAuthority(''ADMIN'')') ? ' ' : ' show active'}"
                     id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
                    <h1>User information page</h1>
                    <div class="card">
                        <div class="card-header font-weight-bold" style="font-size: 20px">About user</div>
                        <div style="margin: 20px">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:object="${currentUser}">
                                    <td th:text="*{id}">ID</td>
                                    <td th:text="*{firstName}">FirstName</td>
                                    <td th:text="*{lastName}">LastName</td>
                                    <td th:text="*{age}">Age</td>
                                    <td th:text="*{username}">Email</td>
                                    <td><a th:each="roles : *{roles}" th:text="' ' + ${roles.roleName} + ' '">Roles</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous">
    </script>
    <script type="text/javascript"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous">
    </script>
</div>
</body>
</html>